body {
  background-color: #343a40;
}

.fixed-alert {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  margin: 10px;
}

#logged-as {
  position: absolute;
  top: 0;
  margin: 6px;
  background-color: white;
  border-radius: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.2);
  z-index: 10;
}
